createdAt: "2019-04-03T02:14:36.660Z"
updatedAt: "2019-04-03T02:15:15.480Z"
type: "MARKDOWN_NOTE"
folder: "9920aa4bef7588333d0b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
