createdAt: "2019-03-29T03:33:34.579Z"
updatedAt: "2019-03-29T03:33:36.225Z"
type: "MARKDOWN_NOTE"
folder: "9920aa4bef7588333d0b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
