createdAt: "2019-04-03T02:15:17.637Z"
updatedAt: "2019-04-03T02:15:43.733Z"
type: "MARKDOWN_NOTE"
folder: "9920aa4bef7588333d0b"
title: "Hello world"
tags: []
content: '''
  # Hello world
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
