createdAt: "2019-04-03T02:13:55.621Z"
updatedAt: "2019-04-03T02:14:26.747Z"
type: "MARKDOWN_NOTE"
folder: "9920aa4bef7588333d0b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
