createdAt: "2019-04-03T02:13:33.466Z"
updatedAt: "2019-04-03T02:13:54.403Z"
type: "MARKDOWN_NOTE"
folder: "9920aa4bef7588333d0b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
