createdAt: "2019-03-27T02:52:14.093Z"
updatedAt: "2019-04-03T01:56:19.598Z"
type: "MARKDOWN_NOTE"
folder: "9920aa4bef7588333d0b"
title: "Unit Testing of Spring MVC Controllers: “Normal” Controllers"
tags: [
  "java-spring"
]
content: '''
  ### [Unit Testing of Spring MVC Controllers: “Normal” Controllers](https://www.petrikainulainen.net/programming/spring-framework/unit-testing-of-spring-mvc-controllers-normal-controllers/)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
