createdAt: "2019-03-27T02:52:22.232Z"
updatedAt: "2019-03-27T02:52:46.493Z"
type: "SNIPPET_NOTE"
folder: "9920aa4bef7588333d0b"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "JavaScript"
    content: ""
  }
]
isStarred: false
isTrashed: true
